.container {
  padding-top: 92px;
  padding-bottom: 100px;
  height: 100vh;
  box-sizing: border-box;
  background: #f3f3f3;
  overflow-y: scroll;
}
.banner {
  padding: 20px 30px 0;
  &_item {
    border-radius: 12px;
    height: 340px;
    width: 100%;
    object-fit: cover;
  }
}
.notice {
  height: 80px;
  margin: 20px 30px;
  padding: 8px;
  background: #ffffff;
  display: flex;
  align-items: center;
  &_icon {
    display: flex;
    align-items: center;
    padding-right: 8px;
    img {
      height: 40px;
    }
  }
  &_bar {}
  &_more {}
}
.title {
  padding: 10px 30px 0;
  font-size: 28px;
  font-weight: 600;
  color: #333;
}
.vipList {
  padding-top: 16px;
  &_item {
    margin-top: 16px;
    border-radius: 20px;
    overflow: hidden;
    img {
      width: 100%;
      height: 340px;
      object-fit: contain;
    }
  }
}